BLOCKDAEMON_API_KEY=
NETWORK=goerli
PRIVATE_KEY=
OAPP_ADDRESS=
MAINNET_RPC=https://svc.blockdaemon.com/ethereum/mainnet/native?apiKey=YOUR_API_KEY
GOERLI_RPC=https://svc.blockdaemon.com/ethereum/goerli/native?apiKey=YOUR_API_KEY

